@import 'normalize.css';

span {
  margin: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
}

.section-outer {
  padding-left: 20px;
  padding-right: 20px;
}

.text {
  color: #616368;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.title {
  color: #242f51;
  font-family: Poppins;
  font-size: 35px;
  font-weight: 600;
  line-height: 46px;
}

/*Header*/

.header-wrapper {
  background-image: url(img/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 110px;

  padding-top: 60px;
}
.section-header {
  display: flex;
  margin: auto;
  max-width: 1170px;
  display: flex;
  min-height: 925px;
}

.section-header-nav {
  margin: auto;
  display: flex;
  max-width: 1170px;
}

.header-logo {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 700;
  line-height: 44px;
}

.header-logo {
  cursor: pointer;
  text-decoration: none;
}

.logo-app {
  color: #fcae61;
}

.logo-lab {
  color: #242f51;
}

.section-header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto 0 auto;
}

body {
  scroll-behavior: smooth;
}

.nav {
  width: 690px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  color: #242f51;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 44px;
  text-decoration: none;
}

.nav-item:hover {
  color: #fcae61;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 55px;
  border-radius: 29px;
  background-color: #2500f9;
  border: 2px solid transparent;
  color: white;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
  border: 2px solid #fcae61;
}

.header-content {
  margin: auto;
  padding-right: 50px;
  max-width: 1100px;
}

.info {
  flex-basis: 55%;
  margin: auto 0 auto 0;
  padding-left: 35px;
}

.award {
  padding-right: 48px;
  padding-left: 48px;
  height: 35px;
  width: fit-content;
  border-radius: 18px;
  background-color: #e2eaed;
  display: flex;
  align-items: center;
  color: #242f51;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
}

.title-big {
  color: #242f51;
  font-family: Poppins;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  margin-bottom: 25px;
  margin-top: 15px;
}

.description {
  color: #616368;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding-right: 20px;
  margin-bottom: 40px;
}

.demo {
  color: #2500f9;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  margin-left: 27px;
  text-decoration: none;
}

.demo:hover {
  cursor: pointer;
  text-decoration: underline;
}

.phone {
  display: block;
}

.content-end {
  display: flex;
  align-items: center;
}

.fas {
  position: absolute;
  color: white;
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 35px;
  border-radius: 18px;
  background-color: #feaa25;
}

/*Trusted*/

.section-trusted {
  max-width: 940px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-small {
  color: #242f51;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  margin: 0 auto 50px auto;
}

.companies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 150px;
  flex-wrap: wrap;
}
.company {
  margin: 10px;
}

/*Features*/

.title__red {
  color: #f55767;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
}

.title__blue {
  color: #2563ff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
}

.title__green {
  color: green;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
}

.feture-icon {
  color: blue;
}

.section-features {
  max-width: 1600px;
  margin: auto;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.feature {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  padding-right: 50px;
}

.features-content {
  padding-top: 55px;
  max-width: 450px;
}

.feature-text {
  margin-bottom: 90px;
}

.feature-icon {
  margin-right: 30px;
}

.feature-title {
  color: #242f51;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 25px;
  padding-right: 150px;
}

.features-phone {
  display: flex;
  padding-right: 30px;
}

/*Smart*/

.section-smart {
  max-width: 970px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 110px auto;
}

.smart-title {
  padding-right: 78px;
  font-size: 40px;
}

.border {
  height: 147px;
  border-right: 2px solid rgba(75, 74, 72, 0.4);
}

.smart-text {
  padding-left: 48px;
}

.section-items {
  max-width: 1025px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 110px;
}

.item {
  display: flex;
  flex-direction: column;
  padding-right: 120px;
}

.item:last-child {
  padding-right: 0;
}

.item-icon {
  margin-bottom: 47px;
}

.item-title {
  margin-bottom: 15px;
}

/*Designed*/

.section-designed {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-bottom: solid 2px #e5e6e5 0.44;
  margin-bottom: 70px;
  padding-right: 110px;
}

.designed-content {
  margin-left: 110px;
  display: flex;
  flex-direction: column;
}

.designed-title {
  max-width: 350px;
  display: flex;
  margin-bottom: 30px;
}

.designed-text {
  max-width: 406px;
  margin-bottom: 40px;
}

/*Why*/

.why-content {
  max-width: 640px;
  text-align: center;
  margin: 110px auto 110px auto;
}

.why-title {
  padding: 0 95px 35px 95px;
}

.line {
  border-bottom: solid 2px rgb(229, 230, 229, 0.44);
}

.why-title-text {
  display: flex;
}

.why-items {
  max-width: 1025px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 70px;
}

.why {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.why-title-item {
  color: #242f51;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
}

/*Ultimate*/
.section-why {
  margin-bottom: 180px;
}

.section-ultimate {
  max-width: 1180px;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 50px;
}

.ultimate-item {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  justify-content: left;
  margin-bottom: 60px;
}

.ultimate-title {
  max-width: 320px;
  margin-bottom: 30px;
}

.ultimate-title-text {
  max-width: 392px;
  display: flex;
  margin-bottom: 50px;
}

.ultimate-phone {
  margin: 30px -300px 0 0;
}

.ultimate-title-item {
  text-align: left;
  color: #242f51;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
}

.ultimate-text-item {
  text-align: left;
  color: #616368;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.ultimate-items {
  max-width: 1025px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}

/*Pricing*/

.pricing-content {
  align-items: center;
  text-align: center;
  max-width: 640px;
  margin: 170px auto 110px auto;
}

.annually {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 55px;
  border-radius: 29px;
  background-color: transparent;
  border: 2px solid transparent;
  color: #616368;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.annually:hover {
  cursor: pointer;
  border: 2px solid #fcae61;
}

.pricing-plan {
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: row;
  padding: 2px;
  border: 1px solid lightgray;
  border-radius: 29px;
}

@media (max-width: 575px) {
  .award {
    padding: 0 0 0 40px;
  }
  .nav {
    max-width: 575px;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .nav {
    width: 575px;
  }

  .description {
    padding: 0;
  }

  .big-image {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    margin: auto;
  }

  .section-header {
    flex-direction: column;
  }

  .header-content {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 991px) {
  .header-phone {
    padding: 0;
    width: 100%;
    margin: auto;
  }

  .section-header-nav {
    flex-direction: column;
  }

  .nav {
    flex-direction: column;
    width: 85%;
  }

  .info {
    padding: 0;
  }

  .section-features {
    flex-direction: column;
  }
  .feature {
    padding: 0;
  }

  .section-smart {
    flex-direction: column;
  }

  .smart-title {
    text-align: center;
    padding: 0;
  }
  .smart-text {
    margin-top: 30px;
    padding: 0;
    text-align: center;
  }

  .border {
    height: 0;
    width: 40%;
    border-right: none;
    border-bottom: 2px solid rgba(75, 74, 72, 0.4);
  }

  .section-items {
    flex-direction: column;
    width: 60%;
    align-items: center;
  }
  .item {
    padding: 0;
    flex-direction: column;
    margin-bottom: 47px;
    text-align: center;
  }

  .item-icon {
    margin-bottom: 0;
  }

  .section-designed {
    margin: 0;
    padding: 0;
    flex-direction: column;
  }
  .designed-content {
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 110px;
  }

  .section-ultimate {
    flex-direction: column-reverse;
    align-items: center;
  }

  .ultimate-items {
    flex-direction: column;
    align-items: center;
  }

  .ultimate-item {
    display: flex;
    justify-content: center;
  }

  .why-icon,
  .ultimate-icon {
    margin: auto;
  }

  .why-title {
    padding: 0;
  }

  .why-items {
    display: block;
    margin: 0;
  }
  .why {
    margin: auto;
    max-width: 65%;
    margin-top: 60px;
  }

  .btn {
    margin: auto;
  }

  .ultimate-items:first-child {
    margin-top: 70px;
  }
}

@media (max-width: 1199px) {
  .big-image {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  .ultimate-phone {
    margin: 0;
  }

  .section-header-wrapper {
    height: auto;
  }
}
